<nav class="flight-list mdl-navigation mdl-layout--large-screen-only">
  <div
    ng-class="{ 'is-unsynced': !flight.isSynced() }"
    ng-repeat="flight in $ctrl.flights | orderBy: '-data.createdAt' track by flight.data.id">

    <div
      class="drawer-row"
      ng-if="$ctrl.isActive(flight)">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input
          class="mdl-textfield__input"
          id="flightName"
          type="text"
          name="flightName"
          required="required"
          ng-model="flight.data.name">
        <label class="mdl-textfield__label" for="flightName">
          flight name
        </label>
      </div>

      <button
        type="submit"
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
        ng-disabled="$ctrl.state === 'is-saving'"
        ng-click="$ctrl.save()">
        save flight
        <i class="material-icons" ng-if="flight.isSynced()">check_circle</i>
      </button>
    </div>

    <div ng-hide="$ctrl.isActive(flight)">
      <a ui-sref="show-flight({ id: flight.data.id })"
        class="mdl-navigation__link">
        <i class="sync-identifier material-icons" ng-if="!flight.isSynced()">assignment_late</i>
        {{ flight.getName() }}
      </a>
    </div>
  </div>
</nav>
