<form
  name="flightForm"
  ng-class="$ctrl.state"
  class="flight-planner" >

  <aside class="sidebar mdl-layout__drawer">
    <header class="header mdl-layout__header">
      <div class="header-row mdl-layout__header-row">
        <div class="mdl-layout-title">Drone Flight Plans</div>
      </div>
    </header>

    <div class="drawer-row" >
      <button
        ui-sref="build-flight"
        class="mdl-button mdl-js-button mdl-button--accent">
        new flight
        <i class="material-icons">add</i>
      </button>
    </div>

    <flight-list
      data-on-save="$ctrl.saveCurrentFlight()"
      data-flights="$ctrl.flightsStore.store.data"></flight-list>
  </aside>

  <flight-planner-map
    class="content"
    data-current-flight="$ctrl.currentFlight"></flight-planner-map>
</form>
