.flight-planner {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
  "sidebar content";
  height: 100vh;
}

.header {
  grid-area: header;

}

.header-row {
  padding: 0;
  justify-content: center;
}

.sidebar {
  grid-area: sidebar;
  position: initial;
  transform: initial;
  width: auto;
  display: block;
  height: 100vh;
}

.content {
  grid-area: content;
}

.drawer-row {
  padding: 14px 40px;
}
